@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background: teal;
    
}
header{
    background-color: rgb(158, 158, 247);
    padding: 2rem;
    color:white;
}

.add{
    font-weight: bold;
    display: block;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 1.5rem;
    background-color: rgb(158, 158, 247);
    cursor: pointer;
}
h2{
    padding: 1rem;
    text-align: center;
}
.hero{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
i{
    color: black;
    font-size: 35px;
    
} 
.popup{
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    border-radius: .5rem;
    max-height: fit-content;
    position: absolute;
    top: 100px;
    left: 30px;
    padding: 1rem;
}
.popup form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.popup form input, .popup form select{
    outline: none;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
}
.add-todo{
    background-color: rgb(158, 158, 247);
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    width: 50%;
    margin: auto;
    padding: 1rem 2rem;
}
.popup form select{
    background-color: rgb(158, 158, 247);
}
.popup form input{
    border-bottom: 1px solid grey;
}
.close{
    position: relative;
    top: -20px;
    left: 240px;
    display: inline-block;
    width:fit-content;
    cursor: pointer;
}
.description{
    width: 80%;
    margin: auto;
    background-color: rgb(225, 223, 223);
    padding: 4rem 2rem;
    border-radius: .5rem;
    border: 1px solid rgb(158, 158, 247);
    position: absolute;
    top: 200px;
    z-index: 3;
    text-align: center;
    left: 50px;
}
.none{
    display: none;
}
.complete, .delete{
    cursor: pointer;
}
ul li{
    margin-top: 5px;
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;
}
.row{
    
    margin-bottom: 30px;
    gap: 2rem;
}
.completed{
    position: relative;
    right: calc(0px);
    width: 80%;
    margin: 1rem auto;
    background-color: rgb(218, 246, 218);
    padding: 1rem;
    border-radius: .5rem;
}
.more{
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
}

.paragraph-styling {
    margin:0;
    cursor:pointer;
    font-size:30px;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
}
@media (min-width: 500px){
    .add{
        display: none;
    }
    .row{
        display: flex;
    }
    .popup{
        position: relative;
        display: block;
        width: 20%;
        order: 1;
        
        z-index: 0;
    }
    .container{
        order: 2;
    }
    .completed{
        width: 30%;
        order: 3;
        display: none; 
    }
    #completed:has(ul li) {
        display: block;
    }
    .container {
        flex-direction: row; /* Cambiar a filas en pantallas más grandes */
    }
    .description{
        width: 40%;
        font-size: 30px;
        position: absolute;
        top: 200px;
        z-index: 3;
        text-align: center;
        left: 300px;
    }
    .index{
        position: relative;
        top: -170px;
        z-index: 4;
    }
}